@model UskudarDenetim.UI.Models.ModelService
@{
    ViewBag.Title = "Hizmet Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="parallax full-width-bg">
        <div class="container">
            <div class="main-title">
                <h1>@Model.Name</h1>
            </div>
        </div>
    </div>
    <div class="container ">
        <section id="primary" class="content-full-width mt-40">
            <article class="blog-post type3">
                <div class="entry-detail">
                    <div class="entry-body">
                        <p> @Html.Raw(Model.Description)</p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>



@section scripts{


    <script type="text/javascript">

    </script>

}