@model List<UskudarDenetim.UI.Models.ModelSharedLink>
<div class="container">
    <h2 class="aligncenter">Faydalı Linkler</h2>
    <section id="primary" class="content-full-width">
        <div class="dt-sc-margin10"></div>
        @foreach (var sharedLink in Model)
        {
            <div onclick="openInNewTab('@sharedLink.Url')" class="portfolio dt-sc-one-fourth no-space column all-sort outdoors-sort fashion-sort">
                <!-- **portfolio-thumb - Starts** -->

                <div class="portfolio-thumb">
                    <figure>
                        <img src="http://placehold.it/1200x800&text=Gallery" alt="image" />
                        <div class="image-overlay">


                            <div class="portfolio-content">
                                <h5> <a href="portfolio-detail-v2.html"> @sharedLink.Name </a> </h5>
                                <span class="fa fa-sort-up"></span>
                            </div>
                        </div>
                    </figure>
                </div> <!-- **portfolio-thumb - Ends** -->

            </div>

        }


        <div class="dt-sc-margin80"></div>
    </section>
</div>

