@model UskudarDenetim.UI.Models.ModelContact
<div id="main">
    <div class="parallax full-width-bg">
        <div class="container">
            <div class="main-title">
                <h1>İletişim</h1>

            </div>
        </div>
    </div>
    <div class="dt-sc-margin100"></div>
    <!-- Container starts-->
    <div class="container">
        <!-- Primary Starts -->
        <section id="primary" class="content-full-width">
            <div class="column dt-sc-three-fourth first">
                <div id="map"></div>
            </div>

            <div class="column dt-sc-one-fourth">
                <h3>İletişim Bilgileri</h3>
                <div class="dt-sc-margin15"></div>
                <p class="dt-sc-contact-detail"> We are located in Melbourne, serving clients worldwide. Shoot us an email, give us a call, or fill out our Project Brief if you're interested in getting started.  </p>
                <!-- **dt-sc-contact-info - Starts** -->
                <div class="dt-sc-contact-info">
                    <p> <i class="fa fa-location-arrow"></i> 121 King St, Melbourne VIC 3000,<br /> Australia </p>
                    <p> <i class="fa fa-phone"></i> +61 3 8376 6284 </p>
                    <p> <i class="fa fa-globe"></i> <a href="#"> envato.com </a> </p>
                    <p> <i class="fa fa-envelope"></i> <a href="#"> grandjade@gmail.com </a> </p>
                </div> <!-- **dt-sc-contact-info - Ends** -->
            </div>

            <div class="dt-sc-margin45"></div>
            <div class="grey2"></div>
            <div class="dt-sc-margin55"></div>
            <div class="dt-sc-margin55"></div> 
            <div class="column dt-sc-three-fourth first">
                <div class="hr-title dt-sc-margin35">
                    <h3>Mesaj Bırakın</h3>
                    <div class="title-sep">
                    </div>
                </div>
                @using (Ajax.BeginForm("CreateContactUS", "Contact", new AjaxOptions()
                {
                    HttpMethod = "Post",
                    OnSuccess = "OnSuccessCreateContactUS",
                    OnFailure = "OnFailureCreateContactUS",
                    OnBegin = "OnBeginCreateContactUS"
                }))
                {
                    <div class="column dt-sc-one-third first">
                        <p>
                            <span>
                                @*<input type="text" placeholder="Name*" name="txtname" value="" required />*@
                                @Html.TextBoxFor(x => x.ContactUS.Name, new { @required = "required", @placeholder = "Ad*" })
                            </span>
                        </p>
                    </div>
                    <div class="column dt-sc-one-third">
                        <p>
                            <span>
                                @*<input type="email" placeholder="Email*" name="txtemail" value="" required />*@
                                @Html.TextBoxFor(x => x.ContactUS.Email, new { @required = "required", @placeholder = "E-Posta*" })
                            </span>
                        </p>
                    </div>
                    <div class="column dt-sc-one-third">
                        <p>
                            <span>
                                @*<input type="text" placeholder="Phone" name="txtphone" value="" />*@
                                @Html.TextBoxFor(x => x.ContactUS.PhoneNumber, new { @placeholder = "Telefon" })
                            </span>
                        </p>
                    </div>
                    <p>
                        @*<textarea placeholder="Message*" name="txtmessage" required></textarea>*@
                        @Html.TextAreaFor(x => x.ContactUS.Message, new { @required = "required", @placeholder = "Mesaj*" })
                    </p>

                    <p> <input type="submit" value="Mesaj Gönder" name="submit" /> </p>
                }
                <div id="ajax_contact_msg"></div>
            </div>
            <div class="dt-sc-margin80"></div>
        </section>

    </div> <!-- **container - Ends** -->
</div> <!-- **Main - Ends** -->


@section scripts{

    <script src="https://api-maps.yandex.ru/2.1/?apikey=47db6dfa-1322-4e0c-857c-691c6e89500b&lang=tr_TR" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init() {
            myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });

            myPlacemark = new ymaps.Placemark([55.76, 37.64], {
                hintContent: 'Moscow!', balloonContent: 'Capital of Russia'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
    <script>
        function OnSuccessCreateContactUS() {

        }
        function OnFailureCreateContactUS() {

        }
        function OnBeginCreateContactUS() {

        }

    </script>

}
