@model UskudarDenetim.UI.Models.ModelPracticalInformation
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="full-width-section parallax full-section-bg">
    <div class="container">
        <div class="form-wrapper register">
                @using (Ajax.BeginForm("CreateOrUpdate", "PracticalInformations", new AjaxOptions()
                {
                    HttpMethod = "Post",
                    OnSuccess = "OnSuccessUpdateCircular",
                    OnFailure = "OnFailureUpdateCircular"
                }, new { style = "padding:0px" }))
                {
                    @Html.HiddenFor(Model => Model.Id)
                    <p class="dt-sc-one-half column first">
                        @Html.TextBoxFor(Model => Model.Header, new { placeholder = "Sirkü Başlığı Giriniz", @required = "required" })
                    </p>
                    <p class="dt-sc-one-half column ">
                        @Html.TextBoxFor(Model => Model.Title, new { placeholder = "Ön Gösterim Yazısı Giriniz", @required = "required" })
                    </p>
                        @Html.EditorFor(model => model.Description, new { placeholder = "Sirkü Detay Giriniz.", @required = "required", @style = "" })
                        <input style="margin:20px" class=" bg-button-color-success" type="submit" value="Kaydet" />
                }

            </div>
        </div>
    </div>
@section scripts{
    <script>
        function OnSuccessUpdateCircular(response) {
            if (response.success) {
                openShowSuccessModal(response.message)
            }
            else {
                openShowErrorModal(response.message)
            }
        }
        function OnFailureUpdateCircular(response) {
            openShowErrorModal(response.message)
        }

    </script>

}

