@model UskudarDenetim.UI.Models.ModelCircular
@{
    ViewBag.Title = "Sirkü Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="parallax full-width-bg">
        <div class="container">
            <div class="main-title">
                <h1>@Model.Header</h1>
            </div>
        </div>
    </div>
    <div class="container ">
        <section id="primary" class="content-full-width mt-40">
            <div class="entry-body">
                <p> @Html.Raw(Model.Description)</p>
            </div>
        </section>
    </div>
</div>



@section scripts{


    <script type="text/javascript">

    </script>

}