@model UskudarDenetim.UI.Models.ModelCircular
@{
    ViewBag.Title = "Sirkü Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="parallax full-width-bg">
        <div class="container">
            <div class="main-title">
                <h1>Sirkü</h1>
            </div>
        </div>
    </div>
    <!-- Container starts-->
    <div class="container ">
        <!-- Primary Starts -->
        <section id="primary" class="content-full-width mt-40">

            <!-- **Blog-post - Starts** -->
            <article class="blog-post type3">
                <!-- **entry-meta - Starts** -->
                <!-- **entry-detail - Starts** -->
                <div class="entry-detail">
                    <div class="entry-title">
                        <h4><a href="#">@Model.Header</a></h4>
                    </div>

                    <div class="entry-body">
                        <p> @Html.Raw(Model.Description)</p>
                    </div>

                </div> <!-- **entry-detail - Ends** -->
            </article><!-- **Blog-post - Ends** -->

        </section> <!-- **Primary - Ends** -->

    </div> <!-- **container - Ends** -->

</div>


