@model List<UskudarDenetim.UI.Models.ModelActivityArea>
@{

    int count = 0;
    string margin30 = "dt-sc-margin30";
    string First = "first";
}

<div class="full-width-section">
    <div class="dt-sc-margin50"></div>
    <div class="container">
        <h2 class="aligncenter">Faaliyet Alanlarımız</h2>
        @*<p class="middle-align">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical<br /> Latin literature from 45 BC, making it over 2000 years old. </p>*@
        <div class="dt-sc-hr-invisible-small"></div>
        @foreach (var activityArea in Model)
        {
            <div class="column dt-sc-one-third @if (count % 3 == 0)
                {
		 <text>@First</text>
                }   ">
                <div class="dt-sc-ico-content type7">
                    <div class="icon animate" data-animation="fadeInRight" data-delay="100" style="cursor:inherit">
                        <span class=" @activityArea.IconClassName "></span>
                    </div>
                    <h4 style="    font-family: 'Open Sans', sans-serif;cursor:inherit"> <a style="text-decoration:none;cursor:inherit"> @activityArea.Name </a> </h4>
                    <p style="    font-family: 'Open Sans', sans-serif;">@activityArea.Description</p>
                </div>
            </div>
            if (count % 3 == 0 && count != 0)
            { }

            count++;
    }
    </div>
    <div class="dt-sc-margin50"></div>
</div>
