
@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="full-width-section">
    <div class="container">
        <h2 class="aligncenter">Type 2</h2>
        <div class="dt-sc-margin30"></div>
        <div class="column dt-sc-one-fourth first animate" data-animation="fadeInUp" data-delay="100">
            <!-- **dt-sc-ico-content type2 - Starts** -->
            <div class="dt-sc-ico-content type2">
                <!-- **icon - Starts** -->
                <div class="icon">
                    <span class="fa fa-crosshairs"></span>
                </div> <!-- **icon - Ends** -->
                <h4> <a href="#"> Awesome Features </a> </h4>
                <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc. Donec magna. </p>
                <a class="read-more" href="#"> Read More <span class="fa fa-long-arrow-right"></span> </a>
            </div> <!-- **dt-sc-ico-content type2 - Starts** -->
        </div>
        <div class="column dt-sc-one-fourth animate" data-animation="fadeInDown" data-delay="100">
            <!-- **dt-sc-ico-content type2 - Starts** -->
            <div class="dt-sc-ico-content type2">
                <!-- **icon - Starts** -->
                <div class="icon">
                    <span class="fa fa-tablet"></span>
                </div> <!-- **icon - Ends** -->
                <h4> <a href="#"> 100% Responsive </a> </h4>
                <p>Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Aonec sodales sagittis magna.</p>
                <a class="read-more" href="#"> Read More <span class="fa fa-long-arrow-right"></span> </a>
            </div> <!-- **dt-sc-ico-content type2 - Starts** -->
        </div>
        <div class="column dt-sc-one-fourth animate" data-animation="fadeInUp" data-delay="100">
            <!-- **dt-sc-ico-content type2 - Starts** -->
            <div class="dt-sc-ico-content type2">
                <!-- **icon - Starts** -->
                <div class="icon">
                    <span class="fa fa-camera"></span>
                </div> <!-- **icon - Ends** -->
                <h4> <a href="#"> Media Support </a> </h4>
                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam Donec sodales sagittis magna.</p>
                <a class="read-more" href="#"> Read More <span class="fa fa-long-arrow-right"></span> </a>
            </div> <!-- **dt-sc-ico-content type2 - Starts** -->
        </div>
        <div class="column dt-sc-one-fourth animate" data-animation="fadeInDown" data-delay="100">
            <!-- **dt-sc-ico-content type2 - Starts** -->
            <div class="dt-sc-ico-content type2">
                <div class="icon">
                    <span class="fa fa-gears"></span>
                </div> <!-- **icon - Ends** -->
                <h4> <a href="#"> Extremely Flexible </a> </h4>
                <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, Adrest gest yae. Donec   magna.</p>
                <a class="read-more" href="#"> Read More <span class="fa fa-long-arrow-right"></span> </a>
            </div> <!-- **dt-sc-ico-content type2 - Starts** -->
        </div>

    </div> <!-- **container - Starts** -->
</div>



