
@{
    ViewBag.Title = "Admin Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- **CSS - stylesheets** -->
<link id="default-css" rel="stylesheet" href="style.css" type="text/css" media="all" />
<link id="shortcodes-css" rel="stylesheet" href="shortcodes.css" type="text/css" media="all" />
<link id="skin-css" rel="stylesheet" href="skins/skyblue/style.css" type="text/css" media="all" />
<link id="layer-slider" rel="stylesheet" href="css/layerslider.css" media="all" />

<!-- **Additional - stylesheets** -->
<link rel="stylesheet" href="responsive.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/meanmenu.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/animations.css" type="text/css" media="all" />

<!-- **Font Awesome** -->
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />

<!-- **Google - Fonts** -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>*@
<section id="primary" class="content-full-width mt-50">
    <div class="full-width-section">
        <div class="container">
            <div class="page_info">
                <h3 class="aligncenter">
                    <span> <i class="fa fa-user"></i></span>
                   Giriş Yap
                </h3>
            </div>
            <div class="dt-sc-margin20"></div>
        </div>
    </div>
    <div class="full-width-section parallax full-section-bg">
        <div class="container">
            <div class="dt-sc-clear"></div>
            <div class="form-wrapper login">
                <form method="post" id="loginform" name="frmLogin">
                    <p>
                        <input placeholder="Username or Email" id="user_name" name="user" autocomplete="off" type="text">
                        @*@Html.TextBoxFor()*@
                    </p>

                    <p>
                        <input placeholder="Password" id="user_pwd" name="pwd" type="password">
                    </p>

                    <label><input value="forever" id="rememberme" name="rememberme" type="checkbox"> Beni Hatırla</label>
                    <input class="button" value="Log-In" type="submit">
                </form>
            </div>
        </div>
    </div>

    <div class="full-width-section">
        <div class="container">
            <div class="dt-sc-margin70"></div>
            <div class="page_info aligncenter">
                <h4 class="title">Hesabınıza erişimde problem mi yaşıyorsunuz?</h4>
                <p>Henüz bir hesabınız yoksa <a href="@Url.Action("Register","Admin")" title="">Kayıt Olun! </a> </p>
                <p>Şifrenizi unuttunuz yada değiştirmek istiyorsanız <a href="#" title="">Şifremi Unuttum!</a></p>
            </div>
        </div>
    </div>
    <div class="dt-sc-margin100"></div>

</section>