
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper mt-50">
    <section id="primary" class="content-full-width">
        <div class="full-width-section">
            <div class="container">
                <div class="page_info">
                    <h3 class="aligncenter">
                        <span> <i class="fa fa-user"></i></span>
                        Kayıt Ol
                    </h3>
                </div>
                <div class="dt-sc-margin20"></div>
            </div>
        </div>
        <div class="full-width-section parallax full-section-bg">
            <div class="container">
                <div class="dt-sc-clear"></div>
                <div class="form-wrapper register">
                    <form method="post" id="reg_form" name="frmRegister">
                        <p class="dt-sc-one-half column first">
                            <input placeholder="First Name *" id="f_name" name="f_user" type="text">
                        </p>

                        <p class="dt-sc-one-half column">
                            <input placeholder="Last Name" id="l_name" name="l_user" type="text">
                        </p>

                        <p class="dt-sc-one-half column first">
                            <input placeholder="Email Address *" id="email_link" name="email" type="email">
                        </p>

                        <p class="dt-sc-one-half column">
                            <input placeholder="Web Address" id="web_link" name="web" autocomplete="off" type="text">
                        </p>

                        <p class="dt-sc-one-half column first">
                            <input placeholder="Password *" id="user_pwd" name="pwd" type="password">
                        </p>

                        <p class="dt-sc-one-half column">
                            <input placeholder="Confirm Password *" name="c_pwd" type="password">
                        </p>

                        <input class="button" value="Create an Account" type="submit">
                    </form>
                </div>
            </div>
        </div>
        <div class="dt-sc-hr-invisible"></div>
        @Html.Partial("_Subscribe")
        <div class="dt-sc-margin100"></div>
    </section>
</div>

