<div class="full-width-section">
    <div class="container">
        <div class="dt-sc-margin50"></div>
        <div class="column dt-sc-one-third first">
            <div class="dt-sc-contact-info type2">
                <div class="dt-sc-contact-detail">
                    <h4> Contact us by Phone </h4>
                    <p> Phone Timings: 0800-2000 hrs </p>
                </div>
                <div class="contact-icon">
                    <span class="fa fa-phone"></span>
                    <h4> 0216 329 11 60 </h4>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-third">
            <div class="dt-sc-contact-info type2">
                <div class="dt-sc-contact-detail">
                    <h4> Give your Feedback </h4>
                    <p> Help us improve!	 </p>
                </div>
                <div class="contact-icon">
                    <span class="fa fa-envelope-o"></span>
                    <h4> <a href="#"> feedback@priority.com </a> </h4>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-third">
            <div class="dt-sc-contact-info type2">
                <div class="dt-sc-contact-detail">
                    <h4> Services and Support </h4>
                    <p> Get your doubts cleared </p>
                </div>
                <div class="contact-icon">
                    <span class="fa fa-headphones"></span>
                    <h4> <a href="#"> Support Centre </a> </h4>
                </div>
            </div>
        </div>

    </div>
    <div class="dt-sc-margin80"></div>
</div>