@model UskudarDenetim.UI.Models.ModelContact
<div class="parallax full-width-section parallax-bg">
    <div class="container">
        <div class="column dt-sc-one-half first">
        </div>
        <div class="column dt-sc-one-half">
            <div class="dt-sc-consultation">
                <h3>Mesaj Bırakın</h3>
                <div class="dt-sc-margin10"></div>

              @*  <form class="dt-sc-contact-form" method="post" action="php/send.php" name="frmcontact">*@
                    @using (Ajax.BeginForm("CreateContactUS", "Contact",null, new AjaxOptions()
                    {
                        HttpMethod = "Post",
                        OnSuccess = "OnSuccessCreateContactUSHome",
                        OnFailure = "OnFailureCreateContactUSHome"
                    },new { @class="dt-sc-contact-form"}))
                    {
                        <p>
                            <span>
                                @Html.TextBoxFor(x => x.ContactUS.Name, new { @required = "required", @placeholder = "Ad*" })
                            </span>
                        </p>
                        <p>
                            @Html.TextBoxFor(x => x.ContactUS.PhoneNumber, new { @placeholder = "Telefon" })
                        </p>
                        <p>
                            <span>
                                @Html.TextBoxFor(x => x.ContactUS.Email, new { @required = "required", @placeholder = "E-Posta*" })
                            </span>
                        </p>
                        <p>
                            @Html.TextAreaFor(x => x.ContactUS.Message, new { @required = "required", @placeholder = "Mesaj*" })
                        </p>

                        <div class="dt-sc-margin50"></div>
                        <p> <input type="submit" value="Gönder" name="submit" /> </p>
                    }
                    @*</form>*@
                <div id="ajax_contact_msg"></div>

            </div>
        </div>
        <div class="dt-sc-margin50"></div>
    </div>
</div>

<script>
    function OnSuccessCreateContactUSHome(response) {
        if (response.success) {
            openShowSuccessModal(response.message)
        } else {
            openShowErrorModal(response.message)
        }
    }
    function OnFailureCreateContactUSHome(response) {
        openShowErrorModal(response.message)
    }
  
</script>